
body {

    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: rgb(170, 155, 155);
        background: rgb(29, 7, 63);
        max-width: 1920px;
        font-size: 16px; 
        text-align: center  
    }
    .container0 {
        background: rgb(19, 50, 28);
       
        /*max-width: 1280px;
        max-height: 800px;  */   
    }
    .container1 {
        background: rgb(68, 61, 78);
        /*max-width: 1280px;
        max-height: 800px;  */  
    }
    .dialogue{
        background: rgb(21, 21, 22);
        color: rgb(155, 168, 170);
        position: initial;
        width: 1280px;
        
        padding:20px;
        border-style: solid;
    }

    #guy1 {
        
        width:130px;
        height:auto;
        position: absolute;
        left: 1200px;
        top: 400px;  
        /*
         top: 50px;        
        right: 0px;  */
        
    }

    .bedroom1 {
        width:1280px;
        height:auto;
      
        /*
        position: absolute;
        top: 15%;        
        left: 12.5%; 
 */
    }
